/*!
Project: N-educatio recruitment task;
Authors: Eugene Poprotsky / Eugeniusz Poprocki;

Created date: 2017-10-29;
Last update date: 2017-10-29;

Version: 1.0;
*/

@import
	'helpers/_variables.scss',

    'vendors/_flexboxgrid.scss',
    'vendors/_media-queries.scss',

    'helpers/_mixins.scss',
    'helpers/_helpers.scss',

    'base/_normalize.scss',
    'base/_global.scss',
    'base/_fonts.scss',

	'components/_buttons.scss',
	'components/_forms.scss',
	'components/_lists.scss',
    'components/_paginations.scss',
    'components/_tooltips.scss',
    'components/_bar.scss',

	'layout/_grid.scss',
	'layout/_breadcrumbs.scss',
    'layout/_header.scss',
    'layout/_footer.scss',

	'pages/_common.scss';

