::-webkit-input-placeholder {
    color: rgba($default-font-color, .5);
}

:-moz-placeholder {
    color: $default-font-color;
    opacity: .5;
}

::-moz-placeholder {
    color: $default-font-color;
    opacity: .5;
}

:-ms-input-placeholder {
    color: $default-font-color;
}

input {
    font-size: 13px;
    background-color: transparent;
    border: 0;
    padding: 5px;
}