$pagination-margin: 30px 0 0;
$pagination-color: $heading-color;
$pagination-font-family: $default-font-family;
$pagination-font-size: 14px;
$pagination-font-weight: 600;

$pagination-list-item-margin: 0 5px;
$pagination-list-item-width: 44px;
$pagination-list-item-height: 44px;
$pagination-list-item-radius: 50px;
$pagination-list-item-color: rgba($key-color-2, .5);
$pagination-list-item-background-color: #fff;
$pagination-list-item-border: 2px solid $gray;
$pagination-list-item-font-weight: 600;

$pagination-list-item-color-hover: #fff;
$pagination-list-item-background-color-hover: $key-color-1;
$pagination-list-item-border-hover: 2px solid $key-color-1;

$pagination-list-item-color-active: $pagination-list-item-color-hover;
$pagination-list-item-background-color-active: $pagination-list-item-background-color-hover;
$pagination-list-item-border-active: $pagination-list-item-border-hover;

$pagination-list-item-opacity-disabled: .3;

$pagination-list-item-next-prev-font-size: 15px;


.pagination {
    font-family: $pagination-font-family;
    font-size: $pagination-font-size;
    font-weight: $pagination-font-weight;
    color: $pagination-color;
    margin: $pagination-margin;
    @extend .flex, .flex--center-y;
    @include max-screen($sm-max) {
        justify-content: center !important;
        ol {
            li {
                &:not([class]) {
                    display: none;
                }
            }
        }
    }
    ol {
        list-style: none;
        margin: 0;
		padding: 0;
		@extend .flex;

        li {
            margin: $pagination-list-item-margin;
            padding: 0;

            &.is-disabled {
            	opacity: $pagination-list-item-opacity-disabled;
            	pointer-events: none;
				-webkit-touch-callout: none;
				user-select: none;
            }

            a,
            span,
			em {
                @extend .flex, .flex--center;
                width: $pagination-list-item-width;
                height: $pagination-list-item-height;
				color: $pagination-list-item-color;
				background-color: $pagination-list-item-background-color;
                border: $pagination-list-item-border;
				border-radius: $pagination-list-item-radius;
				font-weight: $pagination-list-item-font-weight;
				@include transition();
            }

            a {
				@include hover() {
				    color: $pagination-list-item-color-hover;
					background-color: $pagination-list-item-background-color-hover;
					border: $pagination-list-item-border-hover;
				}
            }

            span {
                color: $pagination-list-item-color-active;
				background-color: $pagination-list-item-background-color-active;
                border: $pagination-list-item-border-active;
            }

			em {
				font-style: normal;
			}
        }
    }
	&__prev,
	&__next {
        position: relative;
        overflow: hidden;
		font-size: $pagination-list-item-next-prev-font-size;
	}
    // hover
    &__prev {
        @include hover() {
            .ico {
                &::before {
                    right: calc(100% + 20px);
                }
                &::after {
                    right:50%;
                    transform: translate3d(50%, -50%, 0);
                }
            }
        }
        .ico {
            &::before {
                position: absolute;
                right: 50%;
                top:50%;
                transform: translate3d(50%, -50%, 0);
                @include transition(right);
            }
            &::after {
                content: '\e900';
                font-family: $default-font-family-icon;
                position: absolute;
                right:-20px;
                top: 50%;
                transform: translateY(-50%);
                @include transition(right);
            }
        }
    }
    // hover
    &__next {
        @include hover() {
            .ico {
                &::before {
                    left: calc(100% + 20px);
                }
                &::after {
                    left:50%;
                    transform: translate3d(-50%, -50%, 0);
                }
            }
        }
        .ico {
            &::before {
                position: absolute;
                left: 50%;
                top:50%;
                transform: translate3d(-50%, -50%, 0);
                @include transition(left);
            }
            &::after {
                content: '\e901';
                font-family: $default-font-family-icon;
                position: absolute;
                left:-20px;
                top: 50%;
                transform: translateY(-50%);
                @include transition(left);
            }
        }
    }

    &--center {
		justify-content: center;
	}

	&--right {
		justify-content: flex-end;
	}

    &--inverse {
        ol li {
            a,
            em {
                background-color: #fff;
                border: none;
                @include hover() {
                    border: none;
                }
            }
        }
    }
}
