$pagination-margin: $default-margin;
$pagination-color: $heading-color;
$pagination-font-family: $default-font-family;
$pagination-font-size: 13px;
$pagination-font-weight: 700;

$pagination-list-item-margin: 0 4px;
$pagination-list-item-width: 46px;
$pagination-list-item-height: 46px;
$pagination-list-item-radius: $default-radius;
$pagination-list-item-color: $heading-color;
$pagination-list-item-background-color: transparent;
$pagination-list-item-border: 2px solid $default-font-color;
$pagination-list-item-font-weight: 700;

$pagination-list-item-color-hover: #fff;
$pagination-list-item-background-color-hover: $key-color-1;
$pagination-list-item-border-hover: 2px solid $key-color-1;

$pagination-list-item-color-active: $pagination-list-item-color-hover;
$pagination-list-item-background-color-active: $pagination-list-item-background-color-hover;
$pagination-list-item-border-active: $pagination-list-item-border-hover;

$pagination-list-item-opacity-disabled: .3;

$pagination-list-item-next-prev-font-size: 10px;


.pagination {
    font-family: $pagination-font-family;
    font-size: $pagination-font-size;
    font-weight: $pagination-font-weight;
    color: $pagination-color;
    margin: $pagination-margin;
    @extend .flex, .flex--center-y;
    @include max-screen($sm-max) {
        justify-content: center !important;
        ol {
            li {
                &:not([class]) {
                    display: none;
                }
            }
        }
    }
    ol {
        list-style: none;
        margin: 0;
		padding: 0;
		@extend .flex;

        li {
            margin: $pagination-list-item-margin;
            padding: 0;

            &.is-disabled {
            	opacity: $pagination-list-item-opacity-disabled;
            	pointer-events: none;
				-webkit-touch-callout: none;
				user-select: none;
            }

            a,
            span,
			em {
                @extend .flex, .flex--center-x, .flex--center-y;
                width: $pagination-list-item-width;
                height: $pagination-list-item-height;
				color: $pagination-list-item-color;
				background-color: $pagination-list-item-background-color;
                border: $pagination-list-item-border;
				border-radius: $pagination-list-item-radius;
				font-weight: $pagination-list-item-font-weight;
				@include transition();
            }

            a {
				@include hover() {
				    color: $pagination-list-item-color-hover;
					background-color: $pagination-list-item-background-color-hover;
					border: $pagination-list-item-border-hover;
				}
            }

            span {
                color: $pagination-list-item-color-active;
				background-color: $pagination-list-item-background-color-active;
                border: $pagination-list-item-border-active;
            }

			em {
				font-style: normal;
			}
        }
    }
	&__prev,
	&__next {
        position: relative;
        overflow: hidden;
		font-size: $pagination-list-item-next-prev-font-size;
	}
    // hover
    &__prev {
        @include hover() {
            .ico {
                &::before {
                    right: calc(100% + 20px);
                }
                &::after {
                    right:50%;
                    transform: translate3d(50%, -50%, 0);
                }
            }
        }
        .ico {
            &::before {
                position: absolute;
                right: 50%;
                top:50%;
                transform: translate3d(50%, -50%, 0);
                @include transition(right);
            }
            &::after {
                content: '\e902';
                font-family: $default-font-family-icon;
                position: absolute;
                right:-20px;
                top: 50%;
                transform: translateY(-50%);
                @include transition(right);
            }
        }
    }
    // hover
    &__next {
        @include hover() {
            .ico {
                &::before {
                    left: calc(100% + 20px);
                }
                &::after {
                    left:50%;
                    transform: translate3d(-50%, -50%, 0);
                }
            }
        }
        .ico {
            &::before {
                position: absolute;
                left: 50%;
                top:50%;
                transform: translate3d(-50%, -50%, 0);
                @include transition(left);
            }
            &::after {
                content: '\e903';
                font-family: $default-font-family-icon;
                position: absolute;
                left:-20px;
                top: 50%;
                transform: translateY(-50%);
                @include transition(left);
            }
        }
    }

    &--center {
		justify-content: center;
	}

	&--right {
		justify-content: flex-end;
	}

    &--inverse {
        ol li {
            a,
            em {
                background-color: #fff;
                border: none;
                @include hover() {
                    border: none;
                }
            }
        }
    }
}

// pagination arrows
.pagination-arrows-container {
    padding: 40px;
    background-color: $default-font-color;
    > .pagination-arrows__title {
        display: block;
        margin-bottom: 30px;
        margin-top: 0;
        @include max-screen($xs-max) {
            text-align: center;
        }
    }
}
.pagination-arrows {
    @extend .flex, .flex--space-between;
    > li {
        @extend .flex;
        flex: 0 0 50%;
        &:last-child {
            @extend .flex--end-x;
            @include max-screen($xs-max) {
                margin-bottom: 0;
            }
        }
        @include max-screen($xs-max) {
            flex: 0 0 100%;
            justify-content: center !important;
            margin-bottom: 50px;
        }
    }
    &__item {
        @extend .flex, .flex--inline, .flex--column;
        @include max-screen($xs-max) {
            text-align: center !important;
            align-items: center;
        }
        &-prev {
            text-align: left;
        }
        &-next {
            @extend .flex--end-y;
            text-align: right;
        }
        @include hover() {
            .pagination-arrows__title {
                opacity: .5;
            }
            .btn {
                color: $key-color-1;
                .ico {
                    &[class*="left"] {
                        transform: translateX(-5px);
                    }
                    &[class*="right"] {
                        transform: translateX(5px);
                    }
                }
            }
        }
    }
    &__label {

    }
    &__title {
        font-family: $default-font-family;
        color: $heading-color;
        line-height: 1.5;
        font-weight: 700;
        font-size: 18px;
        margin-top: 12px;
        @include transition();
    }
    .btn {
        color: rgba($heading-color, .3);
        letter-spacing: 1px;
        font-weight: 600;
    }
}
