.header {
	background-color: $key-color-2;
	// general
	&__logo {
		color: $key-color-1;
		font-size: 20px;
		font-weight: 600;
	}
	&__title {
		display: block;
		font-size: 30px;
		font-weight: 300;
		color: #fff;
		margin-bottom: 8px;
	}
	&__subtitle {
		display: block;
		font-size: 13px;
		font-weight: 400;
		color: $default-font-color;
	}
	// top part
	&__top {
		@extend .flex, .flex--nowrap, .flex--center-y;
		padding: 30px 0;
		@include max-screen($md-max) {
			justify-content: space-between;
			padding: 20px 0;
		}
		&-navs {
			@extend .flex, .flex--nowrap, .flex--center-y, .flex--space-between;
			flex: 1;
			@include transition();
			@include max-screen($md-max) {
				position: fixed;
				top: 0;
				bottom:0;
				right:0;
				background-color: $key-color-2;
				z-index: 99;
				flex-flow: column nowrap;
				align-items: flex-start;
				padding: 100px 30px 10px;
				width: 250px;
				transform: translateX(100%);
				.is-menu-open & {
					transform: translateX(0);
					box-shadow: $default-box-shadow;
				}
			}
		}
	}
	// nav
	&__nav {
		@extend .flex, .flex--nowrap, .flex--center-y;
		@include max-screen($md-max) {
			flex-flow: column nowrap;
			align-items: flex-start;
		}
		&-item {
			@extend .flex;
			margin-left: 40px;
			font-size: 12px;
			font-weight: 600;
			color: $default-font-color;
			text-transform: uppercase;
			line-height: 1;
			@include max-screen($md-max) {
				margin-left: 0;
				margin-bottom: 20px;
			}
			a {
				@extend .flex, .flex--inline, .flex--center-y, .flex--nowrap;
				font-size: inherit;
				font-weight: inherit;
				color: inherit;
				text-transform: inherit;
				.ico {
					color: $key-color-1;
					font-size: 18px;
					margin-right: 10px;
					transform: translateY(-2px);
					@include transition();
				}
			}
			&.has-dropdown {
				> a {
					position: relative;
					padding-right: 17px;
					&::before {
						content: '';
						position: absolute;
						top: 50%;
						right:0;
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 5px 3.5px 0 3.5px;
						border-color: $default-font-color transparent transparent transparent;
						transform: translateY(-60%);
						@include transition();
					}
				}
			}
			@include hover() {
				> a {
					color: #fff;
					&::before {
						border-color: #fff transparent transparent transparent;
					}
					.ico {
						color: #fff;
						transform: translateY(-2px) rotate(10deg);
					}
				}
			}
			&.is-active {
				> a {
					color: #fff;
					&::before {
						border-color: #fff transparent transparent transparent;
					}
				}
			}
			&.is-dropdown-open > a {
				color: #fff;
				&::before {
					border-color: #fff transparent transparent transparent;
				}
			}
		}
		&-dropdown {
			&-text {
				display: inline-block;
				text-transform: none;
				font-weight: 400;
				padding-bottom: 20px;
			}
		}
	}
	.dropdown--right {
		@include max-screen($md-max) {
            bottom: calc(0 + 30px);
            top: initial;
            left:0;
            right: initial;
        }
	}
	// bottom part
	&__bottom {
		@extend .flex, .flex--space-between, .flex--nowrap, .flex--end-y;
		@include max-screen($xs-max) {
			flex-flow: column wrap;
			align-items: flex-start;
			justify-content: flex-start;
		}
		&-inner {
			padding: 25px 0;
			@include max-screen($md-max) {
				padding: 5px 0 25px;
			}
			@include max-screen($xs-max) {
				padding: 5px 0;
			}
		}
		.btn {
			transform: translateY(50%);
		}
	}
}

.menu-trigger {
	display: none;
	width: 48px;
	height: 48px;
	position: relative;
	cursor: pointer;
	float: right;
	overflow: hidden;
	border-radius: 50%;
	background: transparent;
	@include transition(all,.5s,ease-in-out);
	@include rotate(0);
    z-index: 810;
	
	&__inner {
		margin: 10px 15px;
		position: relative;
		display: block;
		width: 22px;
		height: 22px;
		
		span {
			display: block;
			position: absolute;
			height: 2px;
			width: 50%;
			background: $key-color-1;
			opacity: 1;
			@include transition(all,.25s,ease-in-out);
			@include rotate(0);
			&:nth-child(even) {
				right: 0;
				border-radius: 0 4px 4px 0;
			}
			&:nth-child(odd) {
				left: 0;
				border-radius: 4px 0 0 4px;
			}
			&:nth-child(1),
			&:nth-child(2) {
				top: 5px;
			}
			&:nth-child(3),
			&:nth-child(4) {
				top: 12px;
			}
			&:nth-child(4) {
				right: auto;
				left: 50%;
			}
			&:nth-child(5),
			&:nth-child(6) {
				top: 19px;
			}
		}
	}
    
    .is-menu-open & {
		&__inner span {
			&:nth-child(1),
			&:nth-child(6) {
				@include rotate(45);
			}
			&:nth-child(2),
			&:nth-child(5) {
				@include rotate(-45);
			}
			&:nth-child(1) {
				left: 2px;
				top: 8px;
			}
			&:nth-child(2) {
				right: 2px;
				left: auto;
				top: 8px;
			}
			&:nth-child(3) {
				left: -50%;
				opacity: 0;
			}
			&:nth-child(4) {
				left: 100%;
				opacity: 0;
			}
			&:nth-child(5) {
				left: 2px;
				top: 15px;
			}
			&:nth-child(6) {
				right: 2px;
				left: auto;
				top: 15px;
			}
		}
	}
	
	&--small {
		width: 40px;
		height: 40px;
		
		.menu-trigger {
			&__inner {
				margin: 10px;
				position: relative;
				display: block;
				width: 20px;
				height: 20px;

				span {
					display: block;
					position: absolute;
					height: 3px;
					width: 50%;
					background: #FFF;
					opacity: 1;
					@include transition(all,.25s,ease-in-out);
					@include rotate(0);

					&:nth-child(even) {
						right: 0;
						border-radius: 0 3px 3px 0;
					}
					&:nth-child(odd) {
						left: 0;
						border-radius: 3px 0 0 3px;
					}
					&:nth-child(1),
					&:nth-child(2) {
						top: 2px;
					}
					&:nth-child(3),
					&:nth-child(4) {
						top: 9px;
					}
					&:nth-child(4) {
						right: auto;
						left: 50%;
					}
					&:nth-child(5),
					&:nth-child(6) {
						top: 16px;
					}
				}
			}

            .is-menu-open & {
                &__inner span {
                    &:nth-child(1),
                    &:nth-child(6) {
                        @include rotate(45);
                    }
                    &:nth-child(2),
                    &:nth-child(5) {
                        @include rotate(-45);
                    }
                    &:nth-child(1) {
                        left: 2px;
                        top: 6px;
                    }
                    &:nth-child(2) {
                        right: 2px;
                        left: auto;
                        top: 6px;
                    }
                    &:nth-child(3) {
                        left: -50%;
                        opacity: 0;
                    }
                    &:nth-child(4) {
                        left: 100%;
                        opacity: 0;
                    }
                    &:nth-child(5) {
                        left: 2px;
                        top: 12px;
                    }
                    &:nth-child(6) {
                        right: 2px;
                        left: auto;
                        top: 12px;
                    }
                }
            } 
		}

	}
}